= stylesheet_link_tag "bootstrap", "home"
#main
  %article
    %h1 האתר הטיפשי של אבירם

    %section
      שלום לכולם
      %br
      בעמוד הבא יוקרן לכם סרט מדהים ביותר וקצר ביותר
      %br
      לאחר הסרט תוצג לכם שאלה אחת.
      %br
      שימו לב, הזמן שיש לענות על השאלה מוגבל בזמן של 15 שניות
      %br
      לאחר השאלה תתבקשו להזין מספר פרטים אישיים, וזה הכל
      %br
      %br
      תודה רבה! אבירם והבנות הכוסיות שעושות איתו את הפרויקט

    %section.button
      %button{type:"button",class:"btn btn-primary"}
        %a{href: new_result_path}המשך