#question {
  display: none;

  input[type=text] {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

#timer {
  display: none;
  font-size: 40px;
}

#personal {
  display: none;
}

#video {
  margin: auto;
}